/* Dark Background */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: #121212;
    color: white;
}
button {
    padding: 10px;
    margin: 5px;
    cursor: pointer;
}
